
@{
    ViewBag.Title = "资源属性";
}
<style>
    .div-left {
    margin-left:80px;
    }
</style>
<h2>资源属性说明</h2>
<div class="form-body">
    <div class="div-left">
        <label >系统编码</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >人工编码</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >文件名</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >项目申请时间</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >项目名称</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >一级类别</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >二级类别</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >项目编码</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >子项序号</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >批次</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >民族</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >民族支系</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >性别</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >出生日期</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >文化程度</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >职业</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >传承人</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >类型</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >直辖市</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >地区</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >县级市</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >县级市</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >乡镇</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label > 村落</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >申报地区</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >保护单位</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >生态区项目</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >生产性保护基地</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >省区代码</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >申请时间</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >去世</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >通过</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >语言</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >创建者名称</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >创建者责任方式</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >资料格式类型</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >资料提供者</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >资料典藏单位</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >数字化格式</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >大小</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >时长</label>
        <div class="">
        </div>
    </div>

    <div class="div-left">
        <label >分辨率</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >视频码率</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >采样频率</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >声道数</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >存储地</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >显示级别</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >著录者</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label >著录时间</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label > 管理机构</label>
        <div class="">
        </div>
    </div>
    <div class="div-left">
        <label > 备注</label>
        <div class="div-left">
        </div>
    </div>
    <div class="div-left">
        <label > 视频资源-视频文件</label>
        <div class="div-left">
        </div>
    </div>
    <div class="div-left">
        <label > 文本资源-文本内容</label>
        <div class="div-left">
        </div>
    </div>
    <div class="div-left">
        <label > 图片资源-图片文件</label>
        <div class="div-left">
        </div>
    </div>
   
</div>
