@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>非遗</title>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
</head>

<body ng-app="scApp" ng-controller="DetailController">
    <div class="top"></div>
    <div id="wrap">
        <!--整体-->
        <div class="index-nav">
            <div class="logo"><img src="~/img/logo.png" width="200" /></div>
            <div class="nav">
                <ul>
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">视频资源</a></li>
                    <li><a href="news.html">图片资源</a></li>
                    <li><a href="news.html">文字资源</a></li>
                    <li><a href="news.html">网站规划</a></li>
                    <li><a href="@Url.Action("ICHintroduce", "home")">非遗介绍</a></li>
                </ul>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div class="banner"><img src="~/img/banner.png" width="100%" /></div>
        <div style=" clear:both;"></div>

        <div>
            <div class="box-nav">
                <div class="box-nav-left"><img src="~/img/15.png" width="149" /></div>
                <div class="box-nav-right"><strong>首页 > 梵音禅 > 详情</strong></div>
            </div>
            <img src="~/img/002.png" width="1003" />
            <div class="abouttext">
                <p><strong>乐嘉：从断食到素食，让我拒绝了死神的“邀请函”</strong></p>
                <div style="border:#ccc 1px dashed; width:90%; margin:10px auto;"></div>
                <p><span>发布时间：2015-10-1 10:56:50 信息来源：本站</span></p>
                <div class="text">
                    <p>乐嘉，相信很多人都知道他不仅是著名主持人，也是众多高校的特聘导师。在无数光芒的背后，却暗藏了他对生活的许多无奈。</p>
                    <p>由于超负荷工作，乐嘉的身体向他发出了最后的“通牒”。正是因为这次经历，从断食到食素，他的生活以一种全新的形式出现，并且重新审视了“修行”的本义。</p>
                    <p>2013年2月的一天早晨，一觉睡醒，左手食指的整个指头发麻，没几天，弥漫到两根指头，那时正紧赶慢赶几本书稿，没咋当回事。等到我过了半个月后，已经有点大事不妙，左小臂全麻。。</p>

                    <div class="abouttext-img"><img src="~/img/lj.png" width="50%" /></div>
                    <p>
                        2013年2月的一天早晨，一觉睡醒，左手食指的整个指头发麻，没几天，弥漫到两根指头，那时正紧赶慢赶几本书稿，没咋当回事。等到我过了半个月后，已经有点大事不妙，左小臂全麻。
                        这下急了，放血，刮痧，板砸，疏经，拍了核磁和CT，最后确诊，长期伏案造成的颈椎问题暨运动时斜方肌拉伤，必须马上治疗。请了正骨的医生，扎了针灸，然后按摩，每天坚持做理疗瑜伽。
                    </p>
                    <p>第二天下午在央视录节目，化妆师惊呼，“这是什么东西！”从后颈到后脑勺到脸颊侧耳部蔓延了大小类似风疹的红肿，此起彼伏约有8块，拍了照片，发给医生朋友，几个家伙语重心长地给了多种猜测，结论是速去医院。</p>

                </div>
            </div>
            <img src="~/img/002.png" width="1003" />
        </div>
    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
        <div class="footer">
            <div class="foot-text">
                <p>版权所有：弘悦静心　 24小时热线电话：400-9977-639</p>
                <p>地址：青岛城阳区王沙路1616号长水山庄　电话：0532-66727827　邮箱：hongyuejingxin@163.com</p>
                <p>技术支持：青岛品赢网络技术有限公司</p>
            </div>
            <div class="foot-img"><p>官<br />方<br />微<br />信<br />扫<br />描</p><img src="~/img/ewm.jpg" width="100" /></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-ng-utils.js"></script>
    <script src="~/Scripts/seco-ng-utils-extra.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
</body>
</html>
