@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文化资源归集系统</title>
    <link rel="stylesheet" href="~/theme/style.css" type="text/css" media="screen" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/mediaelement-and-player.min.js"></script>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/mediaelementplayer.min.css" rel="stylesheet" />
    <script src="~/Scripts/projekktor.js"></script>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="DetailController">
    <div class="top"></div>
    <div id="wrap">
        <!--整体-->
        <div class="index-nav">
            <div class="logo"><img src="~/img/logo.png" width="200" /></div>
            <div class="nav">
                <ul>
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">视频资源</a></li>
                    <li><a href="javascript:void(0)">图片资源</a></li>
                    <li><a href="javascript:void(0)">文字资源</a></li>
                    <li><a href="javascript:void(0)">网站规划</a></li>
                    <li><a href="@Url.Action("ICHintroduce", "home")">非遗介绍</a></li>
                </ul>
            </div>
        </div>
        <div style=" clear:both;"></div>
        @*<div class="banner">
            <div id="owl-demo" class="owl-carousel">
                <a class="item"><img src="~/images/1.jpg" alt="" /></a>
                <a class="item"><img src="~/images/2.jpg" alt="" /></a>
                <a class="item"><img src="~/images/3.jpg" alt="" /></a>
                <a class="item"><img src="~/images/4.jpg" alt="" /></a>
                <a class="item"><img src="~/images/5.jpg" alt="" /></a>
            </div>
        </div>*@
        <div style=" clear:both;"></div>

        <div>
            <div class="box-nav">
                <div class="box-nav-left"><img src="~/img/15.png" width="149" /></div>
                <div class="box-nav-right"><strong>首页 > 视频资源 > 详情</strong></div>
            </div>
            <img src="~/img/002.png" width="1003" />
            <div class="abouttext">
                <p><strong><span ng-bind="videoinfo.Title" style="font-size:x-large"></span></strong></p>
                <div style="border:#ccc 1px dashed; width:90%; margin:10px auto;"></div>
                <p>
                    <span>
                        著录者：<span ng-bind="videoinfo.Description" style="color: black; margin-right: 50px"></span>
                        著录时间：<span ng-bind="videoinfo.DescriptionTime" style="color: black; margin-right: 50px"></span>
                    </span>
                </p>
                <div class="text">
                    <p>
                        项目类别：<span ng-bind="videoinfo.FirstLevel" style="color: black; margin-right: 50px"></span>
                        民族：<span ng-bind="videoinfo.Nation" style="color:black;margin-right:50px"></span>
                        传承人：<span ng-bind="videoinfo.Successor" style="color:black;"></span>
                    </p>
                    <p>
                        省/直辖市：<span ng-bind="videoinfo.Municipalities" style="color: black; margin-right: 50px"></span>
                        市/地区：<span ng-bind="videoinfo.Region" style="color: black; margin-right: 50px"></span>
                        县/县级市：<span ng-bind="videoinfo.CountyLevelCity" style="color: black; margin-right: 50px"></span>
                        乡/镇：<span ng-bind="videoinfo.Township" style="color:black;"></span>
                    </p>
                    <p>
                        源资料格式：<span ng-bind="videoinfo.DataFormat" style="color: black; margin-right: 50px"></span>
                        源资料提供者：<span ng-bind="videoinfo.DataProvider" style="color: black; margin-right: 50px"></span>
                        时长：<span ng-bind="videoinfo.Duration" style="color:black;"></span>
                    </p>
                    <center>
                        <div>
                            <video id="videoplayer" poster="~/img/pic.png" title="this is Projekktor" width="900" height="500" controls=controls>
                                <source id="videosource" src="" type="video/mp4" />
                            </video>
                        </div>
                    </center>
                </div>
            </div>
         

        </div>
    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
        <div class="footer">
            <div class="foot-text">
                <p>版权所有：xxx　 24小时热线电话：400-8888-888</p>
                <p>地址：北京市海淀区南锣鼓巷　电话：010-88888888　邮箱：111111@qq.com</p>
                <p>技术支持：mark team</p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        $(function () {
            $('#owl-demo').owlCarousel({
                items: 1,
                autoPlay: true
            });
        });
    </script>
</body>
</html>
