@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>文化资源归集系统</title>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">
    <style>
        #owl-demo {
            width: 1000px;
            height: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        #owl-demo .item {
            display: block;
        }
        #owl-demo img {
            display: block;
            height: 450px;
            width: 100%;
        }
    </style>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="HomeController">
    <div class="top"></div>

    <div id="wrap">
        <!--整体-->
        <div class="index-nav">
            <div class="logo"><img src="~/img/logo.png" width="200" /></div>
            <div class="nav">
                <ul>
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">视频资源</a></li>
                    <li><a href="news.html">图片资源</a></li>
                    <li><a href="news.html">文字资源</a></li>
                    <li><a href="news.html">网站规划</a></li>
                    <li><a href="@Url.Action("ICHintroduce", "home")">非遗介绍</a></li>
                </ul>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div class="banner">
            @*<img src="~/img/banner.png" width="100%" />*@
            <div id="owl-demo" class="owl-carousel">
                <a class="item"><img src="~/images/1.jpg" alt="" /></a>
                <a class="item"><img src="~/images/2.jpg" alt="" /></a>
                <a class="item"><img src="~/images/3.jpg" alt="" /></a>
                <a class="item"><img src="~/images/4.jpg" alt="" /></a>
                <a class="item"><img src="~/images/5.jpg" alt="" /></a>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div style=" clear:both;"></div>

    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
        <div class="footer">
            <div class="foot-text">
                <p>版权所有：xxx　 24小时热线电话：400-8888-888</p>
                <p>地址：北京市海淀区南锣鼓巷　电话：010-88888888　邮箱：111111@qq.com</p>
                <p>技术支持：mark team</p>
            </div>
        </div>
    </div>


    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        $(function () {
            $('#owl-demo').owlCarousel({
                items: 1,
                autoPlay: true
            });
        });
    </script>
</body>
</html>
