@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文化资源归集系统</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <style>
        .indexahov {
            color: black;
        }

            .indexahov:hover {
                color: red;
            }
    </style>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>
<body style="background: url(../img/bj1.png); width: 100%;" ng-app="scApp" ng-controller="IndexController">
    <div class="header">
        @* <div class="titleHeader">
                <div>欢迎来到文化资源归集系统~</div>
            </div>*@
        <div class="searchTitle">
            <div class="logoBox clearfix">
                <a href="#" class="logo pull-left"><img src="~/img/logo.png"></a>
                <div class="search pull-right">
                    <div class="searchTop clearfix">
                        <input type="text" id="topkey" class="pull-left" placeholder="请输入查询条件...">
                        <a class="searchBtn pull-left">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                        <a href="/home/search" class="seniorSearch pull-left">高级搜索</a>
                    </div>
                    <div class="classify" style="display:none;">
                        <span>
                            <label>
                                <input type="radio" name="searchContent" checked="">图片
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">视频
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">文字
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">音频
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="navigate clearfix">
            <li>
                <a href="">全部分类</a>
                <ul>
                    <li>
                        <span>文学</span>
                        》
                        <div>
                            <a href="/home/category?key=诗歌散文">诗歌散文</a>
                            <a href="/home/category?key=小说">小说</a>
                            <a href="/home/category?key=报告文学">报告文学</a>
                            <a href="/home/category?key=民间文学">民间文学</a>
                            <a href="/home/category?key=儿童文学">儿童文学</a>
                            <a href="/home/category?key=其它">其它</a>
                        </div>
                    </li>
                    <li>
                        <span>音乐</span>
                        》
                        <div>
                            <a href="/home/category?key=音乐会">音乐会</a>
                            <a href="/home/category?key=歌曲">歌曲</a>
                            <a href="/home/category?key=西洋器乐曲">西洋器乐曲</a>
                            <a href="/home/category?key=民族器乐曲">民族器乐曲</a>
                            <a href="/home/category?key=少数民族器乐曲">少数民族器乐曲</a>
                            <a href="/home/category?key=配乐音乐">配乐音乐</a>
                            <a href="/home/category?key=影视剧音乐">影视剧音乐</a>
                            <a href="/home/category?key=宗教音乐">宗教音乐</a>
                            <a href="/home/category?key=军乐">军乐</a>
                            <a href="/home/category?key=舞曲">舞曲</a>
                            <a href="/home/category?key=其它">其它</a>
                            <a href="/home/category?key=外国音乐">外国音乐</a>
                        </div>
                    </li>
                    <li>
                        <span>舞蹈</span>
                        》
                        <div>
                            <a href="/home/category?key=集体舞蹈">集体舞蹈</a>
                            <a href="/home/category?key=民间舞蹈">民间舞蹈</a>
                            <a href="/home/category?key=民族舞蹈">民族舞蹈</a>
                            <a href="/home/category?key=儿童舞蹈">儿童舞蹈</a>
                            <a href="/home/category?key=古典舞蹈">古典舞蹈</a>
                            <a href="/home/category?key=芭蕾舞">芭蕾舞</a>
                            <a href="/home/category?key=现代舞">现代舞</a>
                            <a href="/home/category?key=交际舞">交际舞</a>
                            <a href="/home/category?key=其它">其它</a>
                            <a href="/home/category?key=外国舞蹈">外国舞蹈</a>
                        </div>
                    </li>
                    <li>
                        <span>戏曲</span>
                        》
                        <div>
                            <a href="/home/category?key=京剧">京剧</a>
                            <a href="/home/category?key=昆曲">昆曲</a>
                            <a href="/home/category?key=北京曲剧">北京曲剧</a>
                            <a href="/home/category?key=评剧">评剧</a>
                            <a href="/home/category?key=河北梆子">河北梆子</a>
                            <a href="/home/category?key=老调">老调</a>
                            <a href="/home/category?key=丝弦戏">丝弦戏</a>
                            <a href="/home/category?key=唐剧">唐剧</a>
                            <a href="/home/category?key=武安平调落子">武安平调落子</a>
                            <a href="/home/category?key=晋剧">晋剧</a>
                            <a href="/home/category?key=山西北路梆子">山西北路梆子</a>
                            <a href="/home/category?key=蒲剧">蒲剧</a>
                            <a href="/home/category?key=上党梆子">上党梆子</a>
                            <a href="/home/category?key=秧歌戏">秧歌戏</a>
                            <a href="/home/category?key=二人台">二人台</a>
                            <a href="/home/category?key=吉剧">吉剧</a>
                            <a href="/home/category?key=沪剧">沪剧</a>
                            <a href="/home/category?key=滑稽戏">滑稽戏</a>
                            <a href="/home/category?key=锡剧">锡剧</a>
                            <a href="/home/category?key=河南曲剧">河南曲剧</a>
                            <a href="/home/category?key=淮剧">淮剧</a>
                            <a href="/home/category?key=苏剧">苏剧</a>
                            <a href="/home/category?key=越剧">越剧</a>
                            <a href="/home/category?key=婺剧">婺剧</a>
                            <a href="/home/category?key=赣剧">赣剧</a>
                            <a href="/home/category?key=山东梆子">山东梆子</a>
                            <a href="/home/category?key=吕剧">吕剧</a>
                            <a href="/home/category?key=湖南花鼓戏">湖南花鼓戏</a>
                            <a href="/home/category?key=柳琴戏">柳琴戏</a>
                            <a href="/home/category?key=豫剧">豫剧</a>
                            <a href="/home/category?key=扬剧">扬剧</a>
                            <a href="/home/category?key=汉剧">汉剧</a>
                            <a href="/home/category?key=楚剧">楚剧</a>
                            <a href="/home/category?key=湖北花鼓戏">湖北花鼓戏</a>
                            <a href="/home/category?key=湘剧">湘剧</a>
                            <a href="/home/category?key=祁剧">祁剧</a>
                            <a href="/home/category?key=滇剧">滇剧</a>
                            <a href="/home/category?key=粤剧">粤剧</a>
                            <a href="/home/category?key=潮剧">潮剧</a>
                            <a href="/home/category?key=琼剧">琼剧</a>
                            <a href="/home/category?key=广东汉剧">广东汉剧</a>
                            <a href="/home/category?key=白字戏">白字戏</a>
                            <a href="/home/category?key=桂剧">桂剧</a>
                            <a href="/home/category?key=彩调">彩调</a>
                            <a href="/home/category?key=川剧">川剧</a>
                            <a href="/home/category?key=四川灯戏">四川灯戏</a>
                            <a href="/home/category?key=黔剧">黔剧</a>
                            <a href="/home/category?key=贵州花灯剧">贵州花灯剧</a>
                            <a href="/home/category?key=五音戏">五音戏</a>
                            <a href="/home/category?key=云南花灯戏">云南花灯戏</a>
                            <a href="/home/category?key=秦腔">秦腔</a>
                            <a href="/home/category?key=碗碗腔">碗碗腔</a>
                            <a href="/home/category?key=眉户">眉户</a>
                            <a href="/home/category?key=陇剧">陇剧</a>
                            <a href="/home/category?key=道情戏">道情戏</a>
                            <a href="/home/category?key=平弦戏">平弦戏</a>
                            <a href="/home/category?key=少数民族剧种">少数民族剧种</a>
                            <a href="/home/category?key=蒙古戏">蒙古戏</a>
                            <a href="/home/category?key=徽剧">徽剧</a>
                            <a href="/home/category?key=黄梅戏">黄梅戏</a>
                            <a href="/home/category?key=闽剧">闽剧</a>
                            <a href="/home/category?key=采茶戏">采茶戏</a>
                            <a href="/home/category?key=藏戏">藏戏</a>
                            <a href="/home/category?key=维戏">维戏</a>
                            <a href="/home/category?key=其他">其他</a>
                        </div>
                    </li>
                    <li>
                        <span>曲艺</span>
                        》
                        <div>
                            <a href="/home/category?key=相声、滑稽">相声、滑稽</a>
                            <a href="/home/category?key=小品">小品</a>
                            <a href="/home/category?key=鼓词">鼓词</a>
                            <a href="/home/category?key=弹词">弹词</a>
                            <a href="/home/category?key=道情">道情</a>
                            <a href="/home/category?key=琴书">琴书</a>
                            <a href="/home/category?key=牌子曲">牌子曲</a>
                            <a href="/home/category?key=时调小曲">时调小曲</a>
                            <a href="/home/category?key=杂曲">杂曲</a>
                            <a href="/home/category?key=走唱">走唱</a>
                            <a href="/home/category?key=评话">评话</a>
                            <a href="/home/category?key=快板、快书">快板、快书</a>
                            <a href="/home/category?key=少数民族曲种">少数民族曲种</a>
                            <a href="/home/category?key=其他">其他</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li onclick="window.location='/home/index';" class="active"><a href="/home/index">首页</a></li>
            <li onclick="window.location='/home/textlist';"><a href="/home/textlist">文字</a></li>
            <li onclick="window.location='/home/imglist';"><a href="/home/imglist">图片</a></li>
            <li onclick="window.location='/home/videonlist';"><a href="/home/videonlist">视频</a></li>
            <li onclick="window.location='/home/musiclist';"><a href="/home/musiclist">音频</a></li>
            @*<li onclick="window.location='/home/search';"><a href="/home/search">搜索</a></li>*@
            <li onclick="window.location='/Admin/Account/Login';"><a href="/Admin/Account/Login">会员中心</a></li>
        </ul>
    </div>
    <div class="banner">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/banner1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="~/img/banner2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="~/img/banner3.jpg" alt="Third slide">
                </div>
                <div class="item">
                    <img src="~/img/banner4.jpg" alt="Third slide">
                </div>
                <div class="item">
                    <img src="~/img/banner5.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="homeContent">
        <div class="homeContentSpecial">
            <div class="homeContentTitle">
                <span>根脉文化</span>
                @*<a href="#">更多 》</a>*@
            </div>
            <div class="specialContent clearfix">
                <div class="special" style="width:1165px;">
                    <div class="specialTitle">
                        根脉文化
                    </div>
                    <div class="specialBox clearfix">
                        <div class="specialBoxImg pull-left">
                            <img src="~/img/10.jpg" alt="">
                        </div>
                        <div class="specialBoxText pull-left" style="width:930px;">
                            “根脉文化”是集图、文、音、像于一体，融合线上线下文化资源归集业务为整体的中国传统文化保护与传承数字化信息平台。平台利用先进的数字化技术，收集、整理、汇聚各地区各民族优秀的文化资源，并通过线上线下渠道进行宣广和传播。平台除归集各地区各民族基础文化资源，还将重点展示各地区各民族具有代表性和具有文化积累价值的文创产品，体现资源库在传承中国传统文化方面所具有的综合性、典藏性、快捷性的特点与价值。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homeContent">
        <div class="homeContentSpecial">
            <div class="homeContentTitle">
                <span>根脉资源</span>
                @*<a href="#">更多 》</a>*@
            </div>
            <div class="specialContent clearfix">

                <div class="special">
                    <div class="specialTitle">
                        <a href="/home/imglist" class="indexahov">图片</a>
                    </div>
                    <div class="specialBox clearfix">
                        <div class="specialBoxImg pull-left">
                            <img src="~/img/zhuanti01.jpg" alt="">
                        </div>
                        <div class="specialBoxText pull-left">
                            图片资源，以图片与文字相结合的方式，传递中华民族向往、追求美好生活的信息，且是具有浓郁的民族风格、富有中国特色的传统视觉元素。
                        </div>
                    </div>
                </div>
                <div class="special">
                    <div class="specialTitle">
                        <a href="/home/videonlist" class="indexahov">视频</a>
                    </div>
                    <div class="specialBox clearfix">
                        <div class="specialBoxImg pull-left">
                            <img src="~/img/zhuanti02.jpg" alt="">
                        </div>
                        <div class="specialBoxText pull-left">
                            视频资源，全面、真实记录了中国各个历史时期的政治、文化、社会生活、艺术样貌和发展历程，是不可多得的珍贵媒体内容资源集成。
                        </div>
                    </div>
                </div>
                <div class="special">
                    <div class="specialTitle">
                        <a href="/home/musiclist"  class="indexahov">音频</a>
                    </div>
                    <div class="specialBox clearfix">
                        <div class="specialBoxImg pull-left">
                            <img src="~/img/14.jpg" alt="">
                        </div>
                        <div class="specialBoxText pull-left">
                            音频资料，是现代科技与文化的结晶，承载了历史文化变迁的瞬间，记录了伟人名流的传世之音, 保存了艺术家亘古不变的艺术魅力， 是一笔无法计算的社会精神财富。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="homeContentText">
                <div class="homeContentTitle">
                    <span>文化动态</span>
                </div>
                <div class="textContent clearfix">
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            激活文化文物单位资源，促进文化创意产业发展
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/3.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>近日，为了全面贯彻落实国务院关于文化文物单位文化创意产品开发工作的精神，进一步推进我省文化文物单位文化创意产品开发工作，省政府在太原召开了全省文化文物单位文化创意产品开发工作座谈会。省政府有关领导，省文化厅、省文物局主要领导以及省发改委、省财政厅分管领导和各地市文化、文物单位领导参会。</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            文化传承的自觉性和制度化
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/6.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>民族文化传承与文化传播不同。文化传承是一个民族文化内部的源与流、继承与创新关系；文化传播是本土文化与外来文化、文化交往与文化吸取关系。民族文化重传承，外来文化重借鉴。文化传承的源流不断，以国家的存在和统一为前提。中国拥有丰富的传统文化。</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            转化民族资源 创新性建立民族文化新平台
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/7.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>服务于国家大数据战略，“中国民族文化资源库”项目与贵阳市合作的一年中，借势发展。据北京天成嘉华文化传媒董事长张爽介绍，“资源库”已于去年完成了一期开发工程的建设，其包含了搜集提交、数字化加工、信息采集、加工标引、数据中心管理、内容制作、发布七大子系统以及线上线下一体化平台。</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            挖掘本土文化资源
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/10.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>近年来，漳州市纪委注重发挥文化“润德无声”的作用，挖掘整理谷文昌、漳浦两帝师廉政文化和黄道周、庄恒阳等有影响力的家族遗训、家规风范，通过搭建网络和媒体专题宣传、建立完善市廉政教育基地、龙海埭美家风馆、华安齐家馆，开展谷文昌家风宣讲等，进一步强化党员领导干部纪律规矩意识。</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            实现传统文化的创造性转化
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/11.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>优秀的传统文化固然是一个国家、一个民族传承和发展的根本，学习、研究、应用传统文化是必要的，但是我们继承传统文化需要科学的心态。不是说直接将传统文化拿来照套照用，而是要积极作为，把传统文化和发展现实文化有机统一起来，实现传统文化的创造性转化。</div>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="textHeader">
                            <span></span>
                            让优秀传统文化融入日常生活
                        </div>
                        <div class="textBottom clearfix">
                            <div class="textImg">
                                <img src="~/img/13.jpg" alt="">
                            </div>
                            <div class="textBody" style="background-color:white;">
                                <div>传统文化应“注重实践与养成、需求与供给、形式与内容相结合，把中华优秀传统文化融入生产生活各方面”，日常生活承载着丰富的文化基因，群众才是传统的文化主角。只有融入，优秀传统文化才能焕发生机和活力，才能激发起人们认知、了解、保护与传承的热情。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="homeContentVideo">
                <div class="homeContentTitle">
                    <span>视频</span>
                    <a href="/home/videonlist">更多 》</a>
                </div>
                <div class="videoContent clearfix">
                    <div class="videoLeft pull-left">
                        <img src="~/img/shipin01.jpg" alt="">
                    </div>
                    <div class="videoRight pull-left clearfix">
                        <div class="video" ng-repeat="item in videoList" _whid="{{item.WorldHeritageId}}" onclick="openDetail($(this).attr('_whid'));">
                            <div class="videoImg">
                                <img style="height:115px;width:200px;" src="~/img/lj.png" alt="">
                            </div>
                            <div class="videoText">
                                <div>{{item.TitleProper}}</div>
                                <div class="videoTextContent"></div>
                                <div><a href="#">详情 》</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@



        <div class="homeContentImg" style="margin-top:50px;">
            <div class="homeContentTitle">
                <span>文化风采</span>
                <a href="/home/imglist">更多 》</a>
            </div>
            <div class="imgContent clearfix">
                <div class="img">
                    <img style="width:280px;height:195px;" src="~/img/img1.jpg" alt="">
                </div>
                <div class="img">
                    <img style="width:280px;height:195px;" src="~/img/img2.jpg" alt="">
                </div>
                <div class="img">
                    <img style="width:280px;height:195px;" src="~/img/img3.jpg" alt="">
                </div>
                <div class="img">
                    <img style="width:280px;height:195px;" src="~/img/img4.jpg" alt="">
                </div>
            </div>
        </div>



        @*<div class="homeContentNation">
                <div class="homeContentTitle">
                    <span>中华各民族</span>
                </div>
                <div class="nationContent">
                    <ul class="clearfix">
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                        <li><a href="">汉族</a></li>
                    </ul>
                </div>
            </div>*@
    </div>
    <div class="homeFooter">
        <div class="footNav">
            <ul class="text-center clearfix">
                <li onclick="window.location='/home/index';"><a href="/home/index">首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">版权</a></li>
            </ul>
        </div>
        <div class="text-center">版权所有：北京华阳凡科数字控制技术有限公司　 24小时热线电话：010-56718031</div>
        <div class="text-center">地址：北京市朝阳区朝来高科技产业园6楼西侧3层</div>
        <div class="text-center">技术支持：北京华阳凡科数字控制技术有限公司</div>
        @*<div class="text-center">京ICP备16031227号 Copyright 文化资源归集系统 www.minwang.com.cn All rights reserved</div>*@
        <div class="footCode"><img src="~/img/erwei.png" alt=""></div>
    </div>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        $(function () {
            $('.searchBtn').click(function () {
                var key = $('#topkey').val();
                window.location = '/home/search?key=' + key;
            })
        })
    </script>
</body>
</html>
