@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>文化资源归集系统</title>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">
    <style>
        #owl-demo {
            width: 1000px;
            height:450px;
            margin-left: auto;
            margin-right: auto;
        }

            #owl-demo .item {
                display: block;
            }

            #owl-demo img {
                display: block;
                height:450px;
                width: 100%;
            }
    </style>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="HomeController">
    <div class="top"></div>

    <div id="wrap">
        <!--整体-->
        <div class="index-nav">
            <div class="logo"><img src="~/img/logo.png" width="200" /></div>
            <div class="nav">
                <ul>
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">视频资源</a></li>
                    <li><a href="news.html">图片资源</a></li>
                    <li><a href="news.html">文字资源</a></li>
                    <li><a href="news.html">网站规划</a></li>
                    <li><a href="@Url.Action("ICHintroduce", "home")">非遗介绍</a></li>
                </ul>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div class="banner">
            @*<img src="~/img/banner.png" width="100%" />*@
            <div id="owl-demo" class="owl-carousel">
                <a class="item"><img src="~/images/1.jpg" alt="" /></a>
                <a class="item"><img src="~/images/2.jpg" alt="" /></a>
                <a class="item"><img src="~/images/3.jpg" alt="" /></a>
                <a class="item"><img src="~/images/4.jpg" alt="" /></a>
                <a class="item"><img src="~/images/5.jpg" alt="" /></a>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div class="index-box">
            <div class="index-box-up">
                <div class="index-box-left">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/11.png" width="149" /></div>
                        <div class="box-nav-right"><a href="text.html">+MORE</a></div>
                    </div>
                    <img src="~/img/001.png" width="500" />
                    <div class="box-img">
                        <img src="~/img/1.png" width="156" />
                        <p>人体从器官与细胞的分工，到情绪与气脉的和谐，有赖于各种频率与能量的整合平衡，而「疗愈」就是有意识地觉察自我能量与频率状态，并且透过正面意图来调整频率，超越陈旧的身心模式，从而自由地创造现实。</p>
                    </div>
                    <img src="~/img/001.png" width="500" />
                </div>
                <div class="index-box-right">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/12.png" width="149" /></div>
                        <div class="box-nav-right"><a href="text.html">+MORE</a></div>
                    </div>
                    <img src="~/img/001.png" width="470" />
                    <div class="box-img">
                        <img src="~/img/1.png" width="156" />
                        <p>人体从器官与细胞的分工，到情绪与气脉的和谐，有赖于各种频率与能量的整合平衡，而「疗愈」就是有意识地觉察自我能量与频率状态，并且透过正面意图来调整频率，超越陈旧的身心模式，从而自由地创造现实。</p>
                    </div>
                    <img src="~/img/001.png" width="470" />
                </div>
            </div>
            <div style=" clear:both;"></div>
            <div class="index-box-up">
                <div class="index-box-left">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/13.png" width="149" /></div>
                        <div class="box-nav-right"><a href="news.html">+MORE</a></div>
                    </div>
                    <img src="~/img/001.png" width="500" />
                    <ul class="news_list_c">
                        <li><span>2014-06-01</span> <a href="text.html" title="高房价下的10类“中国式蜗居” ">高房价下的10类“中国式蜗居” </a></li>
                        <li><span>2014-06-01</span><a href="text.html" title="国土资源部：26宗闲置土地曝光 最长达18年">国土资源部：26宗闲置土地曝光 最长达18年 </a></li>
                        <li><span>2014-05-30</span><a href="text.html" title="上海囤地企业喊冤：闲置地块已建楼盘">上海囤地企业喊冤：闲置地块已建楼盘</a></li>
                        <li><span>2014-05-28</span><a href="text.html" title="发改委：首11月房地产开发投资增长36.5%">发改委：首11月房地产开发投资增长36.5% </a></li>
                        <li><span>2014-05-30</span><a href="text.html" title="上海传房产税即将出台 二手房赶集过户">上海传房产税即将出台 二手房赶集过户 </a></li>
                    </ul>
                    <img src="~/img/001.png" width="500" />
                </div>
                <div class="index-box-right">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/14.png" width="149" /></div>
                        <div class="box-nav-right"><a href="news.html">+MORE</a></div>
                    </div>
                    <img src="~/img/001.png" width="460" />
                    <ul class="news_list_c">
                        <li><span>2014-06-01</span><a href="text.html">近期课程</a></li>
                        <li><span>2014-06-01</span><a href="text.html">近期课程</a></li>
                        <li><span>2014-05-30</span><a href="text.html">近期课程</a></li>
                        <li><span>2014-05-28</span><a href="text.html">近期课程</a></li>
                        <li><span>2014-05-30</span><a href="text.html">近期课程</a></li>
                    </ul>
                    <img src="~/img/001.png" width="460" />
                </div>
            </div>
        </div>
        <div style=" clear:both;"></div>

        <div class="pic">
            <div class="pic-pic">
                <a href="pic.html"><img src="~/img/pic.png" width="159" /></a>
                <a href="pic.html"><img src="~/img/pic.png" width="159" /></a>
                <a href="pic.html"><img src="~/img/pic.png" width="159" /></a>
                <a href="pic.html"><img src="~/img/pic.png" width="159" /></a>
            </div>
        </div>


    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
        <div class="footer">
            <div class="foot-text">
                <p>版权所有：xxx　 24小时热线电话：400-8888-888</p>
                <p>地址：北京市海淀区南锣鼓巷　电话：010-88888888　邮箱：111111@qq.com</p>
                <p>技术支持：mark team</p>
            </div>
        </div>
    </div>


    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        $(function () {
            $('#owl-demo').owlCarousel({
                items: 1,
                autoPlay: true
            });
        });
    </script>
</body>
</html>
