
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文化资源归集系统</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body style="background: url(../img/bj1.png); width: 100%;">
    <div class="header">
        @*<div class="titleHeader">
                <div>欢迎来到文化资源归集系统~</div>
            </div>*@
        <div class="searchTitle">
            <div class="logoBox clearfix">
                <a href="#" class="logo pull-left"><img src="~/img/logo.png"></a>
                <div class="search pull-right">
                    <div class="searchTop clearfix">
                        <input type="text" class="pull-left" placeholder="请输入查询条件...">
                        <a class="searchBtn pull-left">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </a>
                        <a href="/home/search" class="seniorSearch pull-left">高级搜索</a>
                    </div>
                    <div class="classify" style="display:none;">
                        <span>
                            <label>
                                <input type="radio" name="searchContent" checked="">图片
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">视频
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">文字
                            </label>
                        </span>
                        <span>
                            <label>
                                <input type="radio" name="searchContent">音频
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="navigate clearfix">
            <li>
                <a href="">全部分类</a>
                <ul>
                    <li>
                        <span>民族地方</span>
                        》
                        <div>
                            <a href="#">自治区概况</a>
                            <a href="#">自治州概况</a>
                            <a href="#">自治县概况</a>
                            <a href="#">民族乡概况</a>
                        </div>
                    </li>
                    <li>
                        <span>语言文字</span>
                        》
                        <div>
                            <a href="#">民族语言文字知识</a>
                            <a href="#">民族语言简志</a>
                            <a href="#">民族语言文字概况</a>
                            <a href="#">民族语文词书</a>
                            <a href="#">民族语言人物</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li onclick="window.location='/home/index';"><a href="/home/index">首页</a></li>
            <li onclick="window.location='/home/textlist';" class="active"><a href="">文字</a></li>
            <li onclick="window.location='/home/imglist';"><a href="/home/imglist">图片</a></li>
            <li onclick="window.location='/home/videonlist';"><a href="/home/videonlist">视频</a></li>
            <li onclick="window.location='/home/musiclist';"><a href="/home/musiclist">音频</a></li>
            <li onclick="window.location='/Admin/Account/Login';"><a href="/Admin/Account/Login">会员中心</a></li>
        </ul>
    </div>
    <div class="textListContent">
        <div class="listHead">
            <h3><img src="~/img/document.png" alt="">雄县曾是宋辽边陲重镇</h3>
            <div class="litleNav">
                <a href="#">首页</a>
                >
                <a href="#">文字详情</a>
            </div>
        </div>
        <div class="listContent clearfix">
            <div class="detailListLeft">
                <div class="detailListLeftOne">
                    <h5>
                        <a href="">阅读全文</a>
                        <span>价格　￥0.00 </span>
                        <div class="download">
                            <span class="glyphicon glyphicon-download"></span>
                            下载
                        </div>

                    </h5>
                    <div class="oneContent">
                        <p>描述：<span></span></p>
                        <p>作者：<span></span></p>
                        <p>民族：<span>汉族</span></p>
                        <p>作者单位：<span></span></p>
                        <p>版权归属：<span>第三方</span></p>
                        <p>版权期限：<span>2051年04月12日</span></p>
                        <p>参考文字：<span></span></p>
                        <p>标签：<span></span></p>
                    </div>
                </div>
                <div class="detailListLeftTwo">
                    <h3>
                        <p>相关推荐</p>
                    </h3>
                    <div class="related">
                        <table>
                            <tr>
                                <td>
                                    <ul>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                        <li><a href="">怒族历史</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="detialListRight">
                <h3>
                    <p>相关专题</p>
                </h3>
                <div class="rightContent">
                    <ul>
                        <li>未找到相关专题</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="homeFooter">
        <div class="footNav">
            <ul class="text-center clearfix">
                <li onclick="window.location='/home/index';"><a href="/home/index">首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">网站声明</a></li>
                <li><a href="">网站联盟</a></li>
                <li><a href="">友情链接</a></li>
            </ul>
        </div>
        <div class="text-center">版权所有：北京华阳凡科数字控制技术有限公司　 24小时热线电话：010-56718031</div>
        <div class="text-center">地址：北京市朝阳区朝来高科技产业园6楼西侧3层</div>
        <div class="text-center">技术支持：北京华阳凡科数字控制技术有限公司</div>
    </div>
</body>
</html>