@model InternalSystem.Core.Models.Manager
@{
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
}
<div class="row" ng-controller="PackageController">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@ViewBag.Title</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("ModifyPassword", "Manager", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.ManagerId)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">新密码</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" placeholder="新密码" name="pass" id="newpwd1" />
                                @*@Html.TextBoxFor(m => m.Pass, new {@class = "form-control", placeholder = "新密码", value = ""})*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">确认新密码</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control" placeholder="确认新密码" name="confirmpass" id="newpwd2" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" onclick="subform();" class="btn green">保 存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.js"></script>
<script>
    //表单提交
    subform = function () {
        if (!$('#newpwd1').val() || !$('#newpwd2').val()) {
            alert('请输入密码');
        } else if ($('#newpwd1').val().length < 6) {
            alert('密码不能小于6位');
        } else if ($('#newpwd1').val() != $('#newpwd2').val()) {
            alert('两次密码输入不一致');
        } else {
            $('.form-horizontal').submit();
        }
    }
</script>